-i https://pypi.org/simple
absl-py==0.3.0
astor==0.7.1; python_version != '3.1.*'
atomicwrites==1.1.5
attrs==18.1.0
boltons==18.0.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
editdistance==0.4
flask==1.0.2
gast==0.2.0
grpcio==1.13.0
idna==2.7
inflection==0.3.1
itsdangerous==0.24
jinja2==2.10
markdown==2.6.11
markupsafe==1.0
more-itertools==4.2.0
numpy==1.15.0
opencv-python-headless==3.4.2.17
pluggy==0.6.0; python_version != '3.1.*'
protobuf==3.6.0; python_version != '3.1.*'
py==1.5.4; python_version != '3.1.*'
pytest==3.6.3
requests==2.19.1
six==1.11.0
termcolor==1.1.0
urllib3==1.23; python_version != '3.2.*'
werkzeug==0.14.1
wheel==0.31.1; python_version != '3.1.*'
