[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boltons = "*"
flask = "*"
h5py = "*"
inflection = "*"
numpy = "*"
opencv-python-headless = "*"
pytest = "*"
requests = "*"
tensorflow = "*"

[dev-packages]
gpustat = "*"
jupyterlab = "*"
matplotlib = "*"
nltk = "*"
pylint = "*"
redlock-py = "*"  # Note that there is a competing package "redlock"
scipy = "*"

[requires]
python_version = "3.6"
