[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boltons = "*"
flask = "*"
h5py = "*"
inflection = "*"
numpy = "*"
opencv-python-headless = "*"
pytest = "*"
requests = "*"
tensorflow-gpu = "*"

[dev-packages]
editdistance = "*"
gpustat = "*"
jupyterlab = "*"
matplotlib = "*"
nltk = "*"
pylint = "*"
redlock-py = "*"
scipy = "*"
wandb = "*"

[requires]
python_version = "3.6"
